Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

feat(profiles): Profiles and profile cards interface
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api.ts
  frontend/src/auth/Login.tsx
  frontend/src/components/Editor/index.tsx
  frontend/src/components/ErrorPage.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Profiles/EditProfile.tsx
  frontend/src/components/Profiles/ImageUpload.tsx
  frontend/src/components/Profiles/Profile.tsx
  frontend/src/components/Profiles/ProfileCard.tsx
  frontend/src/components/Profiles/ProfileCardExpanded.tsx
  frontend/src/components/Profiles/ProfileCardFind.tsx
  frontend/src/components/Profiles/ProfileCardManage.tsx
  frontend/src/components/Profiles/ProfileField.tsx
  frontend/src/components/Profiles/ProfileLink.tsx
  frontend/src/components/Profiles/assets/badge.webp
  frontend/src/components/Profiles/assets/banner-placeholder.svg
  frontend/src/components/Profiles/assets/logo-bluesky.tsx
  frontend/src/components/Profiles/assets/logo-telegram.tsx
  frontend/src/components/Profiles/assets/logo-x.tsx
  frontend/src/components/Profiles/assets/shadows.svg
  frontend/src/components/Profiles/constants.ts
  frontend/src/components/Profiles/utils.ts
  frontend/src/components/Spaces/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useUser.ts
  frontend/src/hooks/useWindowDrag.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/types.ts
  frontend/tailwind.config.js
Due: eslint-frontend, tsc-frontend

fix(profiles): Add distinct on profile cards field
  backend/profiles/serializers.py
  backend/profiles/views.py
Due: ruff, mypy

fix(permissions): Add distinct for multiple permissions and set profileCard permission to READ on spaces somewhere else.
  backend/profiles/models.py
  backend/profiles/serializers.py
Due: ruff, mypy

fix(profiles): Bug where public toggle couldn't be set
  frontend/src/components/Profiles/EditProfile.tsx
Due: eslint-frontend, tsc-frontend

fix(permissions): Quick fix to get one distinct Profile returned.
  backend/profiles/serializers.py
Due: ruff, mypy

fix(profiles): Change how banner is imported and update background image URL format
  frontend/src/components/Profiles/EditProfile.tsx
  frontend/src/components/Profiles/ImageUpload.tsx
  frontend/src/components/Profiles/Profile.tsx
  frontend/src/components/Profiles/ProfileCard.tsx
  frontend/src/components/Profiles/ProfileCardExpanded.tsx
  frontend/src/components/Profiles/ProfileCardManage.tsx
  frontend/src/components/Profiles/ProfileField.tsx
Due: eslint-frontend, tsc-frontend

refactor(profiles): Remove debug printing from migration.
  backend/profiles/migrations/0005_move_relation_to_profile.py
Due: none

fix(profiles): Add profiles frontend paths to url routing.
  backend/config/urls.py
Due: ruff, mypy

feat(profiles): Allow members to see `draft` SpaceProfiles.
  backend/profiles/filters.py
Due: ruff, mypy

feat(profiles): Add member_of filter to return public profiles of a Space.
  backend/profiles/filters.py
Due: ruff, mypy

fix(permissions): Allow for the case that a ProfileCard has no author_profile set.
  backend/profiles/models.py
Due: ruff, mypy

fix(profiles): Image flashing fix, small bug fixes in profiles
  frontend/src/api.ts
  frontend/src/components/Profiles/EditProfile.tsx
  frontend/src/components/Profiles/ImageUpload.tsx
  frontend/src/components/Profiles/Profile.tsx
  frontend/src/components/Profiles/ProfileCard.tsx
  frontend/src/components/Profiles/ProfileCardExpanded.tsx
  frontend/src/components/Profiles/ProfileCardManage.tsx
  frontend/src/components/Profiles/constants.ts
  frontend/src/components/Profiles/utils.ts
  frontend/src/types.ts
Due: eslint-frontend, tsc-frontend

feat(profiles): Let profile description be blank
  backend/profiles/models.py
  frontend/src/types.ts
Due: ruff, mypy, eslint-frontend, tsc-frontend

fix(permissions): Allow all cards visible to the user to be added.
  backend/profiles/serializers.py
Due: ruff, mypy

feat(profiles): Link to profiles from canvas, small bug fixes
  frontend/src/api.ts
  frontend/src/components/Header.tsx
  frontend/src/components/Node.tsx
  frontend/src/components/Profiles/Profile.tsx
  frontend/src/components/Profiles/ProfileCardManage.tsx
  frontend/src/components/Spaces/Sidebar.tsx
  frontend/src/hooks/useUser.ts
Due: eslint-frontend, tsc-frontend

fix(profiles): Add missing migration.
  backend/profiles/migrations/0011_alter_profile_description.py
Due: none

docs: Add Profiles to CHANGELOG.
  CHANGELOG.md
Due: none

feat(profiles): Add link to coordination.network to profiles and fix header profile image
  frontend/public/static/coordination-network-logo-bw.png
  frontend/src/components/Header.tsx
  frontend/src/components/Profiles/Profile.tsx
Due: eslint-frontend, tsc-frontend

fix(profiles): Allow users to remove cards from their profile when they don't have write access
  frontend/src/components/Profiles/Profile.tsx
  frontend/src/components/Profiles/ProfileCardExpanded.tsx
Due: eslint-frontend, tsc-frontend

fix(profiles): z-index bug with footer link to coordination network
  frontend/src/components/Profiles/Profile.tsx
Due: eslint-frontend, tsc-frontend

feat: add apple touch icons for iOS home screen
  frontend/index.html
  frontend/public/static/coordination-network-circle-114x114.png
  frontend/public/static/coordination-network-circle-120x120.png
  frontend/public/static/coordination-network-circle-144x144.png
  frontend/public/static/coordination-network-circle-152x152.png
  frontend/public/static/coordination-network-circle-167x167.png
  frontend/public/static/coordination-network-circle-180x180.png
  frontend/public/static/coordination-network-circle-72x72.png
Due: none

feat: add apple touch icons for iOS home screen
  frontend/index.html
Due: none

refactor: simplify apple-touch-icon sizes and remove comments
  frontend/index.html
Due: none

Delete frontend/public/static/coordination-network-circle-114x114.png
  frontend/public/static/coordination-network-circle-114x114.png
Due: none

Delete frontend/public/static/coordination-network-circle-144x144.png
  frontend/public/static/coordination-network-circle-144x144.png
Due: none

Delete frontend/public/static/coordination-network-circle-72x72.png
  frontend/public/static/coordination-network-circle-72x72.png
Due: none

build: Update front-end packages
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Graph/tasks/tables.ts
  frontend/src/components/Profiles/ImageUpload.tsx
Due: eslint-frontend, tsc-frontend

Deleted frontend/public/static/coordination-network-circle-120x120.png
  frontend/public/static/coordination-network-circle-120x120.png
Due: none

Delete frontend/public/static/coordination-network-circle-152x152.png
  frontend/public/static/coordination-network-circle-152x152.png
Due: none

Delete frontend/public/static/coordination-network-circle-167x167.png
  frontend/public/static/coordination-network-circle-167x167.png
Due: none

Delete frontend/public/static/coordination-network-circle-180x180.png
  frontend/public/static/coordination-network-circle-180x180.png
Due: none

changed coordination-network-circle-120x120.png
  frontend/public/static/coordination-network-circle-120x120.png
Due: none

change 180x180, 167x167 and 152x152
  frontend/public/static/coordination-network-circle-152x152.png
  frontend/public/static/coordination-network-circle-167x167.png
  frontend/public/static/coordination-network-circle-180x180.png
Due: none

feat: change coordination-network-circle-120x120.png
  frontend/public/static/coordination-network-120x120.png
Due: none

Feat: change coordination-network-circle-152x152.png
  frontend/public/static/coordination-network-152x152.png
Due: none

Feat; change coordination-network-circle-167x167.png
  frontend/public/static/coordination-network-167x167.png
Due: none

Feat: change coordination-network-circle-180x180.png
  frontend/public/static/coordination-network-180x180.png
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
