Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

feat: Hide spaces if none on dashboard, fix buddy bug in skills and improve Run viewer UI
  frontend/src/Dashboard.tsx
  frontend/src/components/Canvas/CanvasNode.tsx
  frontend/src/components/Skills/SkillCanvasControls.tsx
  frontend/src/components/Skills/running/useRunSkill.ts
Due: eslint-frontend, tsc-frontend

feat: Add last Skill output to the Output node on the canvas
  frontend/src/components/Canvas/CanvasNode.tsx
  frontend/src/components/Skills/SkillCanvasControls.tsx
  frontend/src/components/Skills/running/executeTasks.ts
  frontend/src/components/Skills/running/tables.ts
  frontend/src/components/Skills/running/types.ts
  frontend/src/components/Skills/running/useRunSkill.ts
Due: eslint-frontend, tsc-frontend

feat: Enable multiple edges to be created from selected nodes, for now without visual indication until we upgrade reactflow to xyflow in #152
  frontend/src/components/Canvas/index.tsx
Due: eslint-frontend, tsc-frontend

fix(nodes): Fix N+1 query while fetching spaces.
  backend/nodes/tests/test_views/test_spaces.py
  backend/nodes/views.py
Due: ruff, mypy

fix(ui): Route skills urls to frontend code.
  backend/config/urls.py
Due: ruff, mypy

docs: Update CHANGELOG.
  CHANGELOG.md
Due: none

docs(nodes): Update docs with new skills/methods endpoints.
  backend/nodes/views.py
  docs/redoc-static.html
  docs/schema.yml
Due: ruff, mypy

build: Update front-end packages, downgrade Node in Docker to LTS version
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat(canvas): Upgrade to @xyflow/react closes #152
  crdt/src/addToCanvas.ts
  crdt/src/utils.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/auth/Login.tsx
  frontend/src/auth/ResetPassword.tsx
  frontend/src/auth/ResetPasswordConfirm.tsx
  frontend/src/auth/Signup.tsx
  frontend/src/auth/VerifyEmail.tsx
  frontend/src/components/Canvas/CanvasNode.tsx
  frontend/src/components/Canvas/Controls.tsx
  frontend/src/components/Canvas/MultiNodeToolbar.tsx
  frontend/src/components/Canvas/Sidebar.tsx
  frontend/src/components/Canvas/UndoRedo.tsx
  frontend/src/components/Canvas/Versions.tsx
  frontend/src/components/Canvas/getLayoutedNodes.ts
  frontend/src/components/Canvas/index.tsx
  frontend/src/components/Canvas/useUndoRedo.ts
  frontend/src/components/Canvas/useYdocState.ts
  frontend/src/components/Canvas/utils.ts
  frontend/src/components/Node.tsx
  frontend/src/components/Skill.tsx
  frontend/src/components/Skills/running/utils.ts
  frontend/src/hooks/useCanvas/provider.tsx
  frontend/src/hooks/useFocus/context.ts
  frontend/src/hooks/useFocus/provider.tsx
  frontend/src/lib/canvases.ts
  frontend/src/lib/nodes.ts
  frontend/src/types.ts
Due: eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

feat(canvas): Add ConnectionLine for displaying multi-edge connections
  frontend/src/components/Canvas/ConnectionLine.tsx
  frontend/src/components/Canvas/index.tsx
Due: eslint-frontend, tsc-frontend

feat: Improve mobile layout, scrolling, and modals
  frontend/src/components/LLM/index.tsx
Due: eslint-frontend, tsc-frontend

feat: Improve mobile layout, scrolling, and modals
  frontend/src/Space.tsx
Due: eslint-frontend, tsc-frontend

docs: Update changelog
  CHANGELOG.md
Due: none

fix: improve mobile search UI responsiveness
  frontend/src/components/NodeRepository.tsx
Due: eslint-frontend, tsc-frontend

FEAT:[ci-cache added]
  .github/workflows/ci.yml
Due: none

FIX[docker-django-cache]
  compose/django/Dockerfile
Due: none

FIX[Added dependencies caching for CI]
  .github/workflows/ci.yml
Due: none

FIX[auto-level-depenedencies]
  .pre-commit-config.yaml
Due: none

Add caching for Docker layers in Github Actions
  .github/workflows/ci.yml
Due: none

Add caching for dependencies in django Dockerfile
  compose/django/Dockerfile
Due: none

fix: update ESLint config for flat config compatibility
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: update ESLint config for flat config compatibility
  frontend/package-lock.json
Due: none

fix: update ESLint config for flat config compatibility
  frontend/eslint.config.mjs
Due: none

Docs: Improve README with Comprehensive Setup Instructions
  README.md
Due: none

feat(deployment): Add Kubernetes config files
  .pre-commit-config.yaml
  README.md
  kubernetes/README.md
  kubernetes/configmaps.yaml
  kubernetes/deployments.yaml
  kubernetes/kustomization.yaml
  kubernetes/namespace.yaml
  kubernetes/secrets-template.yaml
  kubernetes/services.yaml
Due: none

ci: Add GitHub Workflow to test Kubernetes config
  .github/workflows/k8s.yml
  README.md
  kubernetes/deployments.yaml
  kubernetes/jobs-django-migrate.yaml
Due: none

docs: Add note about PgBouncer and RabbitMQ, update changelog
  CHANGELOG.md
  kubernetes/README.md
Due: none

build: Update front-end packages
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat: Improve mobile layout, scrolling, and modals
  frontend/src/components/Editor/index.tsx
Due: eslint-frontend, tsc-frontend

fix: update ESLint config for flat config compatibility
  frontend/package.json
Due: none

Implemented Standardize APT and PIP cache directories
  compose/django/Dockerfile
  compose/frontend/Dockerfile
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
