Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^docs/|/migrations/"
default_stages: [pre-commit]
default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        exclude: ^pnpm-lock.yaml
      - id: check-added-large-files
        args: ["--maxkb=750"]
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        exclude: pnpm-lock.yaml|.git
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args:
          - --line-length=100
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.22.1"
    hooks:
      - id: django-upgrade
        args: ["--target-version", "5.0"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.35.2
    hooks:
      - id: djlint-reformat-django
        exclude: ^frontend/
      - id: djlint-django
        exclude: ^frontend/
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language: python
        language_version: python3.11
        types: [python]
        require_serial: true
        entry: bash .pre-commit-run.sh django ruff check
      - id: mypy
        name: mypy
        entry: bash .pre-commit-run.sh django mypy
        language: python
        language_version: python3.11
        types: [python]
        require_serial: true
        additional_dependencies: []
      - id: eslint-crdt
        name: eslint (crdt)
        language: node
        files: ^crdt/.*\.[jt]sx?$
        entry: bash .pre-commit-run.sh crdt pnpm eslint
      - id: tsc-crdt
        name: tsc (crdt)
        pass_filenames: false
        language: node
        files: ^crdt/.*\.[jt]sx?$
        entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json
      - id: eslint-frontend
        name: eslint (frontend)
        language: node
        files: ^frontend/.*\.[jt]sx?$
        entry: bash .pre-commit-run.sh frontend pnpm eslint
      - id: tsc-frontend
        name: tsc (frontend)
        pass_filenames: false
        language: node
        files: ^frontend/.*\.[jt]sx?$
        entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(deployment): Add Kubernetes config files
  .gitignore
  .pre-commit-config.yaml
  README.md
  kubernetes/README.md
  kubernetes/configmaps.yaml
  kubernetes/deployments.yaml
  kubernetes/kustomization.yaml
  kubernetes/namespace.yaml
  kubernetes/secrets-template.yaml
  kubernetes/services.yaml
Due: none

ci: WIP GitHub Workflow to test Kubernetes config
  .github/workflows/k8s.yml
  kubernetes/deployments.yaml
  kubernetes/jobs-django-migrate.yaml
Due: none

build: Add pip-compile pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/base.in
  requirements/local.in
  requirements/local.txt
  requirements/production.in
  requirements/production.txt
Due: none

build: Update front-end packages
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Move flower celery monitoring to local requirements.
  requirements/base.in
  requirements/local.in
  requirements/local.txt
  requirements/production.txt
Due: none

fix(search): Bug where node repository search accessed removed 'spaces'
  CHANGELOG.md
  frontend/src/components/NodeRepository.tsx
  frontend/src/types.ts
Due: eslint-frontend, tsc-frontend

feat: Add support for object storage.
  .envs/.local/.minio
  CHANGELOG.md
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/config/settings/production.py
  compose.yml
  requirements/base.in
  requirements/local.txt
  requirements/production.in
  requirements/production.txt
Due: ruff, mypy

feat: Use cached session storage in production deployments.
  CHANGELOG.md
  backend/config/settings/production.py
Due: ruff, mypy

refactor: Name AppConfig classes (more) correctly.
  backend/buddies/apps.py
  backend/nodes/apps.py
  backend/permissions/apps.py
Due: ruff, mypy

refactor(nodes): Remove unused title_slug from Space model.
  CHANGELOG.md
  backend/nodes/admin.py
  backend/nodes/migrations/0030_remove_space_title_slug.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/test_models.py
  backend/nodes/tests/test_views/test_spaces.py
  backend/nodes/views.py
Due: ruff, mypy

docs: Update API documentation after permissions refactor.
  docs/redoc-static.html
  docs/schema.yml
Due: none

feat(profiles): Initial models and endpoints for Space and User profiles.
  CONTRIBUTING.md
  backend/config/api_router.py
  backend/config/settings/base.py
  backend/nodes/migrations/0031_space_profile.py
  backend/nodes/migrations/0032_fill_profiles.py
  backend/nodes/migrations/0033_alter_space_profile.py
  backend/nodes/models.py
  backend/nodes/utils.py
  backend/profiles/__init__.py
  backend/profiles/admin.py
  backend/profiles/apps.py
  backend/profiles/filters.py
  backend/profiles/migrations/0001_initial.py
  backend/profiles/migrations/__init__.py
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/signals.py
  backend/profiles/tests/__init__.py
  backend/profiles/tests/test_signals.py
  backend/profiles/tests/test_views.py
  backend/profiles/urls.py
  backend/profiles/utils.py
  backend/profiles/views.py
  backend/users/migrations/0004_user_profile.py
  backend/users/migrations/0005_fill_profiles.py
  backend/users/migrations/0006_alter_user_profile.py
  backend/users/models.py
  docs/redoc-static.html
  docs/schema.yml
Due: ruff, mypy

fix(profiles): Actually slugify names in migrations. Set profile titles.
  backend/nodes/migrations/0032_fill_profiles.py
  backend/users/migrations/0005_fill_profiles.py
Due: none

fix(profiles): Don't let migrations create empty slugs.
  backend/nodes/migrations/0032_fill_profiles.py
  backend/users/migrations/0005_fill_profiles.py
Due: none

feat(profiles): Add 2x resolution images and return them in API.
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/tests/factories.py
  backend/profiles/tests/test_views.py
Due: ruff, mypy

feat(users): Users /me endpoint now displays the profile id.
  backend/users/api/serializers.py
Due: ruff, mypy

fix: Fix various small issues related to profiles, add profile id to /me endpoint.
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_spaces.py
  backend/permissions/tests/test_views.py
  backend/profiles/signals.py
  backend/users/tests/test_drf_views.py
Due: ruff, mypy

fix(tests): Remove Profile id from Space response
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_spaces.py
  backend/permissions/tests/test_views.py
  backend/users/tests/test_drf_views.py
Due: ruff, mypy

feat(profiles): Various fixes and improvements.
  backend/nodes/migrations/0033_alter_space_profile.py
  backend/nodes/migrations/0034_remove_space_profile.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_spaces.py
  backend/permissions/models.py
  backend/permissions/tests/test_models.py
  backend/permissions/tests/test_views.py
  backend/profiles/filters.py
  backend/profiles/migrations/0002_profilecard_created_by.py
  backend/profiles/migrations/0003_profilecard_is_public.py
  backend/profiles/migrations/0004_remove_profile_is_public_profile_draft_and_more.py
  backend/profiles/migrations/0005_move_relation_to_profile.py
  backend/profiles/migrations/0006_remove_profile_new_space_remove_profile_new_user_and_more.py
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/signals.py
  backend/users/migrations/0006_alter_user_profile.py
  backend/users/migrations/0007_remove_user_profile.py
  backend/users/models.py
Due: ruff, mypy

fix(profiles): Add space option to ProfileCard, add permission check to related fields.
  backend/nodes/filters.py
  backend/permissions/models.py
  backend/profiles/filters.py
  backend/profiles/migrations/0007_profilecard_space_alter_profile_space_and_more.py
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/views.py
Due: ruff, mypy

fix(profiles): Remove incorrect field_name in filters.
  backend/profiles/filters.py
Due: ruff, mypy

fix(profiles): Fix display of Profile target creation date.
  backend/profiles/models.py
  backend/profiles/serializers.py
Due: ruff, mypy

feat(profiles): Add file upload endpoints.
  backend/profiles/views.py
Due: ruff, mypy

docs(permissions): Add TODO for open bug.
  backend/permissions/models.py
Due: ruff, mypy

feat(profiles): Make members and cards writable in profile endpoint.
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/views.py
Due: ruff, mypy

feat(profiles): A ProfileCard can now belong to multiple Profiles.
  backend/profiles/filters.py
  backend/profiles/migrations/0008_remove_profilecard_profile_profile_cards.py
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/views.py
Due: ruff, mypy

feat(profiles): Return created_by id in ProfileCards.
  backend/profiles/serializers.py
Due: ruff, mypy

fix(profiles): SpaceCard author and space now link to profiles.
  backend/profiles/filters.py
  backend/profiles/migrations/0009_remove_profilecard_author_remove_profilecard_space_and_more.py
  backend/profiles/models.py
  backend/profiles/serializers.py
Due: ruff, mypy

feat(profiles): Add filter for draft status.
  backend/profiles/filters.py
  backend/profiles/models.py
Due: ruff, mypy

feat(profiles): Add username filter.
  backend/profiles/filters.py
Due: ruff, mypy

feat(profiles): Add profile type filter.
  backend/profiles/filters.py
Due: ruff, mypy

fix(permissions): Fix lookup field for read and write permissions on ProfileCards.
  backend/profiles/models.py
Due: ruff, mypy

feat(profiles): Render nested objects and fix queries and validation for browsable ui.
  backend/profiles/serializers.py
Due: ruff, mypy

fix(permissions): Remove validation if user is manager of space_profile in ProfileCard.
  backend/profiles/serializers.py
Due: ruff, mypy

fix(permissions): Re-add permissions check on space_profile.
  backend/profiles/serializers.py
Due: ruff, mypy

feat(profiles): Add status_message field to ProfileCard.
  backend/profiles/migrations/0010_profilecard_status_message.py
  backend/profiles/models.py
Due: ruff, mypy

fix(profiles): Now we want everyone with read access to a space to add them to a ProfileCard.
  backend/profiles/serializers.py
Due: ruff, mypy

feat(profiles): Change username filter to slug filter.
  backend/profiles/filters.py
Due: ruff, mypy

fix(permissions): Fix issue where user required MANAGE instead of READ permissions to add Space to ProfileCard.
  backend/profiles/serializers.py
Due: ruff, mypy
