Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

fix: Update index.html
  frontend/index.html
Due: none

feat: Added support for iOS home screen icons (#342)
  frontend/index.html
  frontend/public/static/coordination-network-120x120.png
  frontend/public/static/coordination-network-152x152.png
  frontend/public/static/coordination-network-167x167.png
  frontend/public/static/coordination-network-180x180.png
Due: none

fix(crdt): Run compiled ts code in Docker container and listen on 0.0.0.0
  compose.yml
  compose/crdt/Dockerfile
  crdt/src/index.ts
Due: eslint-crdt, tsc-crdt

build: Update front-end packages
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Bump Django and DRF stubs, also mypy.
  requirements/local.in
  requirements/local.txt
Due: none

test: Re-enable mypy and fix typing issues.
  .pre-commit-config.yaml
  backend/buddies/models.py
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tasks.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/utils.py
  backend/permissions/managers.py
  backend/permissions/models.py
  backend/permissions/tests/test_managers.py
  backend/profiles/apps.py
  backend/profiles/filters.py
  backend/profiles/models.py
  backend/profiles/serializers.py
  backend/profiles/signals.py
  backend/profiles/views.py
  backend/users/forms.py
  backend/utils/models.py
  backend/utils/typing.py
  backend/utils/views.py
Due: ruff, mypy

feat(nodes): Add a new node type for Methods.
  backend/nodes/migrations/0035_node_authors_node_creator_node_description_and_more.py
  backend/nodes/models.py
  backend/nodes/tasks.py
  backend/nodes/tests/fixtures.py
  backend/nodes/tests/test_node_sync.py
  backend/nodes/tests/test_views/test_search.py
  backend/utils/models.py
Due: ruff, mypy

feat(nodes): Add API for method nodes.
  CHANGELOG.md
  backend/nodes/filters.py
  backend/nodes/migrations/0036_methodnode.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/factories.py
  backend/nodes/tests/test_models.py
  backend/nodes/tests/test_views/test_methods.py
  backend/nodes/urls.py
  backend/nodes/views.py
Due: ruff, mypy

feat(search): Add filtering for node types.
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_search.py
  backend/nodes/views.py
Due: ruff, mypy

feat(nodes): Add image field to nodes and upload endpoint to node and models endpoints.
  backend/nodes/migrations/0037_node_image_original.py
  backend/nodes/models.py
  backend/nodes/views.py
Due: ruff, mypy

fix(nodes): Change document type for methods from METHOD_GRAPH to METHOD.
  backend/nodes/migrations/0038_alter_document_document_type_and_more.py
  backend/nodes/models.py
Due: ruff, mypy

feat(nodes): Add MethodVersion model and forked_from field to Method.
  backend/nodes/migrations/0039_alter_node_authors_alter_node_creator_and_more.py
  backend/nodes/models.py
  backend/nodes/serializers.py
Due: ruff, mypy

feat(nodes): Add MethodNodeRun model and API.
  CHANGELOG.md
  backend/nodes/admin.py
  backend/nodes/filters.py
  backend/nodes/migrations/0040_remove_methodnodeversion_document_version_and_more.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/urls.py
  backend/nodes/views.py
  backend/profiles/serializers.py
  backend/utils/serializers.py
Due: ruff, mypy

feat(nodes): Add MethodNodeVersion endpoint and fix filters for MethodNodeRuns.
  CHANGELOG.md
  backend/nodes/filters.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/urls.py
  backend/nodes/views.py
Due: ruff, mypy

fix(nodes): Correct filters for available documents and spaces.
  backend/nodes/filters.py
Due: ruff, mypy

perf(nodes): Improve queries for methods and related views.
  backend/nodes/serializers.py
  backend/nodes/views.py
Due: ruff, mypy

fix(nodes): Remove editor and graph documents from Method versions.
  backend/nodes/migrations/0041_remove_methodnodeversion_editor_document_and_more.py
  backend/nodes/models.py
Due: ruff, mypy

fix(permissions): Fix queries for field validation when having the same permission through multiple roles.
  backend/nodes/serializers.py
Due: ruff, mypy

fix(nodes): Remove non-existant fields from serializer.
  backend/nodes/serializers.py
Due: ruff, mypy

feat(crdt): Add support for Method nodes
  crdt/src/index.ts
  crdt/src/utils.ts
Due: eslint-crdt, tsc-crdt

fix(nodes): Remove undefined fields when creating method versions
  backend/nodes/serializers.py
Due: ruff, mypy

fix(ui): Bug fix for dashboard spaces and method text editor
  frontend/src/Dashboard.tsx
  frontend/src/components/Editor/index.tsx
Due: eslint-frontend, tsc-frontend

fix(llm): Disable streaming on methods to allow o1 to work
  frontend/src/components/Graph/tasks/executeTasks.ts
  frontend/src/components/Graph/tasks/tables.ts
Due: eslint-frontend, tsc-frontend

fix(nodes): Don't load method.method_data when rendering runs.
  backend/nodes/views.py
Due: ruff, mypy

test(nodes): Add basic tests for method related endpoints and fix issues that came up.
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/factories.py
  backend/nodes/tests/test_views/test_method_runs.py
  backend/nodes/tests/test_views/test_method_versions.py
  backend/nodes/tests/test_views/test_methods.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/views.py
Due: ruff, mypy

test(profiles): Add basic unittests for profiles and some changes that go along.
  backend/profiles/tests/factories.py
  backend/profiles/tests/test_signals.py
  backend/profiles/tests/test_views.py
  backend/profiles/views.py
Due: ruff, mypy

feat(nodes): Add profile data to method responses.
  backend/nodes/serializers.py
  backend/nodes/views.py
  backend/profiles/serializers.py
Due: ruff, mypy

feat(crdt): Improve loading and running of method CRDTs
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/Dashboard.tsx
  frontend/src/Method.tsx
  frontend/src/Space.tsx
  frontend/src/components/Editor/index.tsx
  frontend/src/components/Graph/ExecutionPlan.tsx
  frontend/src/components/Graph/tasks/useRunCanvas.ts
  frontend/src/components/Graph/utils.ts
  frontend/src/components/Header.tsx
  frontend/src/components/Method.tsx
  frontend/src/components/Methods/MethodCard.tsx
  frontend/src/components/Methods/MethodGraphControls.tsx
  frontend/src/components/Methods/MethodGraphUpdate.tsx
  frontend/src/components/Methods/running/createTasks.ts
  frontend/src/components/Methods/running/executeTasks.ts
  frontend/src/components/Methods/running/tables.ts
  frontend/src/components/Methods/running/types.ts
  frontend/src/components/Methods/running/useRunMethod.ts
  frontend/src/components/Methods/running/utils.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBackendParent.ts
  frontend/src/hooks/useCanvas/context.ts
  frontend/src/hooks/useCanvas/provider.tsx
  frontend/src/hooks/useConnectedDocument.ts
  frontend/src/hooks/useEditor/context.ts
  frontend/src/hooks/useEditor/index.ts
  frontend/src/hooks/useEditor/provider.tsx
  frontend/src/hooks/useNodesContext/context.ts
  frontend/src/hooks/useNodesContext/provider.tsx
  frontend/src/hooks/useYDoc/context.ts
  frontend/src/hooks/useYDoc/index.ts
  frontend/src/hooks/useYDoc/provider.tsx
  frontend/src/main.tsx
  frontend/src/types.ts
Due: eslint-frontend, tsc-frontend

feat(ui): Switch to scope variable for read-only, fix CanvasNode node type bug
  frontend/src/Skill.tsx
  frontend/src/components/Canvas/Controls.tsx
  frontend/src/components/Canvas/HoverMenu.tsx
  frontend/src/components/Canvas/Sidebar.tsx
  frontend/src/components/Canvas/index.tsx
  frontend/src/components/Canvas/useYdocState.ts
  frontend/src/components/Canvas/utils.ts
  frontend/src/components/EditableNode.tsx
  frontend/src/components/Editor/index.tsx
  frontend/src/components/Node.tsx
  frontend/src/components/NodeRepository.tsx
  frontend/src/components/Skills/running/utils.ts
  frontend/src/hooks/useNodesContext/context.ts
  frontend/src/hooks/useNodesContext/provider.tsx
  frontend/src/hooks/useYDoc/context.ts
  frontend/src/hooks/useYDoc/provider.tsx
  frontend/src/lib/nodes.ts
  frontend/src/types.ts
Due: eslint-frontend, tsc-frontend

fix(permissions): Cleanup permissions after re-enabling mypy and rebasing method branch.
  backend/nodes/filters.py
  backend/nodes/models.py
  backend/permissions/models.py
Due: ruff, mypy

feat(nodes): Add buddy to method and method versions.
  backend/buddies/serializers.py
  backend/nodes/migrations/0042_alter_methodnode_managers_methodnode_buddy_and_more.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/factories.py
Due: ruff, mypy

fix(nodes): Fix a database optimisation that got reverted during a rebase.
  backend/nodes/tests/test_views/test_method_versions.py
  backend/nodes/views.py
Due: ruff, mypy

feat(nodes): Return latest version and id of latest version on method detail endpoint.
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_methods.py
  backend/nodes/views.py
Due: ruff, mypy

feat(nodes): Add a run_count to Method and MethodVersion responses.
  backend/nodes/serializers.py
  backend/nodes/views.py
Due: ruff, mypy

fix(llm): Add o1 model to allowed o1 models
  backend/config/settings/base.py
  backend/utils/tokens.py
Due: ruff, mypy

feat(ui): Add buddies to versions, use latest_version from API and add run_count
  frontend/src/Skill.tsx
  frontend/src/components/Buddies/BuddyForm.tsx
  frontend/src/components/Buddies/index.tsx
  frontend/src/components/LLM/index.tsx
  frontend/src/components/Skills/SkillCanvasControls.tsx
  frontend/src/components/Skills/SkillCanvasUpdate.tsx
  frontend/src/components/Skills/SkillCard.tsx
  frontend/src/components/Skills/running/executeTasks.ts
  frontend/src/components/Skills/running/tables.ts
  frontend/src/constants.ts
  frontend/src/hooks/useBuddy.ts
  frontend/src/types.ts
Due: eslint-frontend, tsc-frontend

feat: Add Skill dropdown to manage permissions and delete, add run button loader with stop, improve dashboard
  frontend/src/Dashboard.tsx
  frontend/src/api.ts
  frontend/src/components/Canvas/CanvasNode.tsx
  frontend/src/components/Canvas/HoverMenu.tsx
  frontend/src/components/Canvas/index.tsx
  frontend/src/components/Skill.tsx
  frontend/src/components/Skills/SkillCanvasControls.tsx
  frontend/src/components/Skills/SkillCard.tsx
  frontend/src/components/Skills/SkillPermissions.tsx
  frontend/src/components/Skills/running/useRunSkill.ts
  frontend/src/types.ts
  frontend/tailwind.config.js
Due: eslint-frontend, tsc-frontend

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
