Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

fix(deployment): Allow sentry to be disabled.
  backend/config/settings/production.py
Due: ruff, mypy

feat: Make Sentry conditional based on ENV vars for javascript
  crdt/src/index.ts
  crdt/src/instrument.ts
  frontend/src/instrument.ts
  frontend/vite.config.ts
Due: eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

fix(db): Allow spaces to be created with no nodes
  backend/nodes/migrations/0026_alter_space_default_node_alter_space_nodes.py
  backend/nodes/models.py
Due: ruff, mypy

feat: Set config variables in home.html and read them for production deploys
  backend/config/settings/base.py
  backend/config/urls.py
  backend/coordnet/templates/pages/home.html
  frontend/src/api.ts
  frontend/src/components/Graph/tasks/executeTasks.ts
  frontend/src/components/LLM/index.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useNode/provider.tsx
  frontend/src/hooks/useSpace/provider.tsx
  frontend/src/index.d.ts
  frontend/src/lib/utils.ts
Due: ruff, mypy, eslint-frontend, tsc-frontend

feat: Add permissions to the Space model in Django Admin
  backend/nodes/admin.py
  backend/permissions/admin.py
Due: ruff, mypy

build: Update frontend pnpm dependencies
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Remove redundant build args and place them correctly.
  compose/django/Dockerfile
  compose/frontend/Dockerfile
  fly.toml
Due: none

perf(canvas): Remove PDF.js from pacakge.json and don't install its required packages in the Docker container
  compose/frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/pdfjs-lib.d.ts
  frontend/src/lib/pdfjs.ts
Due: eslint-frontend, tsc-frontend

perf(canvas): Load ElkJS externally and set types
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Graph/elktjs.d.ts
  frontend/src/components/Graph/getLayoutedNodes.ts
Due: eslint-frontend, tsc-frontend

ci: Publish docker images for main commits and releases to GHCR.
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: Fix tag regex and disable test tag for all packages.
  .github/workflows/publish.yml
Due: none

ci: Add scopes to gha caching of docker builds
  .github/workflows/publish.yml
Due: none

ci: Don't push the intermediary single-platform images
  .github/workflows/publish.yml
Due: none

fix(deployment): Re-add ca-certificates to make verified SSL connections.
  compose/frontend/Dockerfile
Due: none

fix(deployment): Enable uvicorn logging to see requests and response codes in production logs.
  backend/config/settings/production.py
Due: ruff, mypy

feat(llm): Add support for Azure OpenAI endpoints.
  CHANGELOG.md
  backend/buddies/consumers.py
  backend/buddies/models.py
  backend/buddies/views.py
  backend/config/settings/base.py
  backend/config/settings/test.py
  backend/utils/apps.py
  backend/utils/checks.py
  backend/utils/llm.py
  backend/utils/tests/__init__.py
  backend/utils/tests/test_llm.py
Due: ruff, mypy

docs: Release notes for 24.11.0
  CHANGELOG.md
Due: none

fix(llm): Fixed a naming error in the Azure OpenAI Endpoint config.
  CHANGELOG.md
  backend/config/settings/base.py
  backend/utils/llm.py
Due: ruff, mypy

feat(llm): Manually set proxies for AzureOpenAI
  backend/utils/llm.py
Due: ruff, mypy

fix(llm): Improve robustness of openai response handling.
  CHANGELOG.md
  backend/buddies/consumers.py
  backend/buddies/models.py
Due: ruff, mypy

feat(deployment): Allow X_FRAME_OPTIONS to be set with ENV var
  CHANGELOG.md
  backend/config/settings/base.py
Due: ruff, mypy

docs: Add v24.11.2 to changelog
  CHANGELOG.md
Due: none

fix: Replace unsalted MD5 hasher with normal one for unittests.
  backend/utils/testcases.py
Due: ruff, mypy

docs: Mention possible incompatibilites of Django upgrade in CHANGELOG.
  CHANGELOG.md
Due: none

refactor(crdt): Use transaction level advisory locks for event processing.
  CHANGELOG.md
  backend/nodes/tasks.py
Due: ruff, mypy

build: Disable mypy until we can upgrade to a newer version.
  .pre-commit-config.yaml
Due: none

fix(pre-commit): added prettier and eslint to configuration file
  .pre-commit-config.yaml
Due: none

fix(canvas): Remove low timeout for canvas running
  CHANGELOG.md
  frontend/src/components/Graph/tasks/executeTasks.ts
Due: eslint-frontend, tsc-frontend

build: Update front-end packages
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Downgrade eslint to 9.14.0
  crdt/package.json
  crdt/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Add cross-spawn override to resolve dependabot security alert
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

perf(permissions): Start to remove unused object level permissions.
  backend/nodes/models.py
  backend/nodes/tests/factories.py
  backend/nodes/tests/test_views/test_document_versions.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/tests/test_views/test_search.py
  backend/permissions/tests/test_managers.py
  backend/permissions/tests/test_models.py
  backend/permissions/tests/test_views.py
Due: ruff, mypy

fix(search): Fix search result serializer, it only needs to return one space now.
  backend/nodes/migrations/0028_move_spaces_to_space.py
  backend/nodes/serializers.py
Due: ruff, mypy

perf(permissions): Remove node-level permissions and use Space for permissions
  crdt/src/index.ts
  frontend/src/api.ts
  frontend/src/components/Editor/index.tsx
  frontend/src/components/Graph/Controls.tsx
  frontend/src/components/Graph/Footer.tsx
  frontend/src/components/Graph/GraphNode.tsx
  frontend/src/components/Graph/HoverMenu.tsx
  frontend/src/components/Graph/Sidebar.tsx
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/useYdocState.ts
  frontend/src/components/Permissions/Node.tsx
  frontend/src/types.ts
Due: eslint-crdt, tsc-crdt, eslint-frontend, tsc-frontend

feat(permissions): Add `show_permissions` flag on node detail endpoint to return `allowed_actions`.
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/views.py
  backend/utils/parsers.py
Due: ruff, mypy

fix(buddies): Add missing migrations for added help_text.
  backend/buddies/migrations/0002_alter_buddy_model_alter_buddy_system_message.py
Due: none

perf(nodes): Finish removing object level permissions, nodes can now only be in one space.
  backend/nodes/filters.py
  backend/nodes/migrations/0027_node_space_alter_space_default_node.py
  backend/nodes/migrations/0028_move_spaces_to_space.py
  backend/nodes/migrations/0029_remove_node_is_public_remove_node_is_public_writable_and_more.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tasks.py
  backend/nodes/tests/factories.py
  backend/nodes/tests/test_node_sync.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/tests/test_views/test_search.py
  backend/nodes/views.py
  backend/permissions/tests/test_managers.py
  backend/permissions/tests/test_models.py
  backend/permissions/tests/test_views.py
  backend/utils/managers.py
Due: ruff, mypy

test(permissions): Remove obsolete test.
  backend/permissions/tests/test_models.py
Due: ruff, mypy

docs(permissions): Update changelog for permission simplification changes.
  CHANGELOG.md
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-crdt: any of: ^crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  tsc-frontend: any of: ^frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
